.quote-card{
    width: 800px;
    border: 2px solid black;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
.main-content {
    display: flex;
    justify-content: space-between;
}